#*.iml
.gradle
.externalNativeBuild
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/build/
/app/release/
/.gradle
/gradle
##/app/*.iml
/.idea/modules.xml
SpaceInvaders.iml
/app/build.gradle
